.footer {
    position: absolute;
    width: 70vw;
    bottom: 10px;
    text-align: center;
    color: rgb(175, 175, 175);
}

.tos-navigate:hover {
    cursor: pointer;
    color: rgb(120, 120, 120);
}

@media screen and (max-width: 800px) {
    .footer {
        width: 90vw;
    }
}